<div class="wrapper">

  <header class="header">
    <!-- logo -->
    <!-- lista de opciones -->
        <div class="logo"></div>
        <nav class="nav">
          <div class="nav-items">
            <a href="#" class="nav-link">Inicio</a>
            <a href="#" class="nav-link">Tecnologias</a>
            <a href="#" class="nav-link">Beneficios</a>
            <a href="#" class="nav-link">Requerimientos</a>
          </div>
          <!-- login -->
          <button class="login-btn" routerLink="/Login">Login</button>
      </nav>
  </header>
  <!-- seccion principal -->

  <!-- 1 -->
  <section class="wraper-inicio">
    <!-- 1:2 -->
    <div class="inicio-container">
      <span>Bienvenido a tu <span style="font-family: 'MonserratBold'; margin-top: 50px;">Entrevista Técnica</span> en
        <span style="color: #9cc43c; font-family: 'MonserratBold';">Wolox</span></span>
    </div>
    <!-- 2:2 -->
    <div class="inicio-img-container">

      <img src="../../../assets/landing-page/Ic_ilustra_Hero.png" class="inicio-img">
    </div>
  </section>

  <!-- 2 -->
  <section class="wrapper-technologies">
    <!-- 1:2 -->
    <div class="text-container">
      <span style="font-size: 35px;">Estamos buscando para incorporar gente increible para estas tecnologias:</span>
    </div>
    <!-- 2:2 -->
    <div class="technologies-container">
      <img src="../../../assets/landing-page/Ic_Tecnologys.svg" class="technologies-img">
    </div>
  </section>

  <!-- 3 -->
  <section class="wrapper-follow">
    <!-- 1:2 -->
    <!-- imagen falta el boton / texto /icono -->
    <div class="follow-container">
      <!-- Image background container -->
      <div>
        <div class="woloxers-container">
          <span style="color: #9cc43c; font-size: 35px; font-family: 'MonserratBold'; margin-right: 15px;">350
            +</span><span style="color: #359dcb; font-size: 35px; font-family: 'MonserratBold';">Woloxers</span>
        </div>
        <div class="follow-img-container">
          <img src="../../../assets/landing-page/twitter-48.png" class="follow-img"><span
            style="color: white; font-size: 14px;"> @Wolox</span>
        </div>
        <div class="follow-us-container">
          <button class="outline-btn">Siguenos</button>
        </div>
      </div>

    </div>
    <!-- 2:2 -->
    <div class="work-container">
      <div class="work-text-container">
        <span>Trabajamos para <span style="font-family: 'MonserratBold'; color: #359dcb">convertir </span> <span
            style="font-family: 'MonserratBold'; color: #9cc43c">ideas</span> en productos</span>
      </div>
    </div>
  </section>

  <!-- 4 -->
  <section class="wrapper-beneficios">
    <h1 style="text-align: center;">Entre los beneficios que ofrecemos se encuentran <span
        style="color: #359dcb">;)</span></h1>
    <div class="beneficios-container">
      <div class="item">
        <img src="../../../assets/landing-page/Ic_Hour.svg" class="content">
        <span class="subtitle">Flexibilidad Horaria</span>
      </div>
      <div class="item">
        <img src="../../../assets/landing-page/Ic_HomeOffice.svg" class="content">
        <span class="subtitle">Home Office</span>

      </div>
      <div class="item">
        <img src="../../../assets/landing-page/Ic_Workshops.svg" class="content">
        <span class="subtitle">Capacitaciones y workshops</span>
      </div>
      <div class="item">
        <img src="../../../assets/landing-page/Ic_DrinkSnacks.svg" class="content">
        <span class="subtitle">Snack, frutas y bebidas gratis</span>
      </div>
      <div class="item">
        <img src="../../../assets/landing-page/Ic_laptop.svg" class="content">
        <span class="subtitle">Semana Remota</span>
      </div>
      <div class="item">
        <img src="../../../assets/landing-page/Ic_brain.svg" class="content">
        <span class="subtitle">Trabajar en ultimas tecnolocias</span>
      </div>
    </div>
  </section>

  <!-- divisor -->
  <hr class="custom">
  <!-- 5 -->
  <section class="wrapper-requirements">
    <!-- 1:2 -->
    <div class="requirement-text">
      <h1 style="font-family: 'MonserratBold';">Requerimientos</h1>
    </div>
    <!-- 2:2 -->
    <div class="requirement-container">
      <ul style="margin: 0;">
        <li style="list-style-image: url('../../../assets/landing-page/Ic_Bullet_1.svg'); margin-bottom: 40px;">
          Estudiantes avanzados o recibidos de carreras del
          rubro informatico, sistemas o electronicos</li>
        <li style="list-style-image: url('../../../assets/landing-page/Ic_Bullet_2.svg'); margin-bottom: 50px;">Ingles
          intermedio/avanzado</li>
        <li style="list-style-image: url('../../../assets/landing-page/Ic_Bullet_3.svg'); margin-bottom: 30px">
          Conocimiento en metodologias agiles (deseable)</li>
      </ul>
    </div>
  </section>

  <!-- 5 -->
  <section class="wrapper-know-more">
    <div class="item">
      <div class="content" style="align-self: center;">
        <span style="font-size: 38px; font-family: 'MonserratBold'; display: block; margin-bottom: 10px;">Gracias por
          <span style="color: #359dcb">completar el ejercicio</span></span>
        <span style="font-size: 26px; display: block; margin-top: 10px; margin-bottom: 30px;">Te invitamos a ver mas
          informacion</span>
        <button class="knowMore-btn">Conocer mas</button>
      </div>
    </div>
  </section>
  <!-- footer -->
  <footer class="footer-container">
    <div class="logo-sm"></div>
  </footer>
</div>
